body{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
}
.container {
  position: relative;
  max-width: 600px;
  padding: 50px;
  color: white;
  text-align: center;
}
.langWrap{
  background: #333;
  padding-bottom: 2rem;
}
.langWrap a{
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  background:#212529;
  font-size: 18px;
  border-radius: 0.3rem;
}
.langWrap a.active{
  background: #f21313;
}

img{
  height: 500px;
  width: 1500px;
}